@mixin font($size: 10px, $height: 10px, $weight: 400) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin ul() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin fields() {
  margin: 0;
  padding: 0;
}
